[submodule "CX"]
	path = CX
	url = https://github.com/Matthewacon/CX.git
[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi.git
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "xz"]
	path = xz
	url = https://git.tukaani.org/xz.git
